* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}


.hello {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 15vh;

}

.blink {
    margin-left: 55%;
    margin-top: 10%;
}

.typing {
    font-family: 'Poppins', sans-serif;
    font-size: 15vh;
    /* position: relative; */
}

.typing::after {
    content: "";
    /* position: absolute; */
    width: 100px;
    height: 100%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}

.aboutB {
    margin-left: 55%;
    margin-top: 30%;
}

.myProfile {
    width: 100%;
}


.aboutA {
    display: flex;
}

.about3 {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 10vh;
}

.about5 {
    font-family: 'Poppins', sans-serif;
    flex: 1;
    font-size: 3vh;
}

.about6 {
    width: 25%;
    flex: 1;
    display: flex;
    align-items: center;
}



.aboutText, .profileImage {
    flex: 1;
}

.profileImage {
  
    display: flex;
    align-items: center;
}

.myProfileImage {
    width: 100%;
    left: 10px;
    border-radius: 50%;
    left: 10%;
    top: 5%;

}


.aboutTitle {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 10vh;
}

.aboutDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
}

.about {
    margin-top: 50vh;
    margin-left: 55%;
}

.projects {
    margin-left: 55%; margin-right: 5%; margin-top: 30%;
}

.projectsText {
    font-family: 'Caveat', cursive, sans-serif; font-size: 10vh;
}

.firstProj {
    display: flex;
    margin: 10vh 10vh;
}

.image1stProj {
    width: 20%; flex: 1
}

.image1stProj img {
    width: 100%;
}

.firstProjDes {
    flex: 1;  font-family: 'Poppins', sans-serif; font-size: 2.5vh; display: flex; align-items: center; text-align: justify; margin-left: 1%;
}

.firstProj a {
    font-size: 5vh;
}

.bi-github {
    font-size: 5vh; margin-left: 2%;
}

/* .projects {
    margin-left: 55%;
    margin-top: 30%;
} */


@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






/* Media Queries */


/* 1916px */
@media screen and (max-width: 1916px) {
    .typing, .hello {
        font-size: 10vh;
    }
}

/* 1434px */
/* 
@media screen and (max-width: 1434px) {
    .about1 {
        font-size: 5vh;
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
    }

    .about2 {
        font-size: 2vh;
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
    }
  
} */

/* 1488px */

@media screen and (max-width: 1488px) {
    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-top: 20%;
    }

    .about1, .about2 {
        margin-left: 40%;
    }

    
}

@media screen and (max-width: 1382px) {
    .firstProj {
        margin-left: 0px;
        margin-right: 0px;
    }

    .projectsText, .firstProj {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
    }

    .typing, .hello {
        font-size: 5vh;
    }

    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-left: 40%;
    }
}

/* 1382px */

@media screen and (max-width: 1382px) {
    .typing, .hello {
        font-size: 10vh;
    }

    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-top: 25%;
    }

    .aboutTitle {
        font-size: 3vh;
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
    }

    .aboutDescription {
        font-size: 1.5vh;
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
    }

    .about {
        margin-left: 0;
    }
}

/* 1133px */


@media screen and (max-width: 1133px) {
  

    .myProfileImage {
        width: 100%;
    }

    .aboutTitle {
        font-size: 5vh;
    }

    .aboutDescription {
        font-size: 3vh;
    }

    .projects {
        margin-left: 0.1%;
        margin-right: 0.1%;
    }

    .projectsText {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        padding-left: 0px;
    }

    .firstProj {
        background: rgba(255, 255, 255, 0.7);
        padding: 3%;
        margin: 5vh 5vh;
    }

    .firstProjDes span {
        font-size: 3.5vh;
    }

    .image1stProj {
        display: flex;
        align-items: center;
    }
}

/* 883px */

@media screen and (max-width: 883px) {
    .typing, .hello {
        font-size: 8vh;
    }

    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-top: 40%;
    }
    
    .firstProjDes span {
        font-size: 2vh;
    }
}

/* 739px */

@media screen and (max-width: 739px) {
    .typing, .hello {
        font-size: 5vh;
    }

    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-top: 60%;
    }

    .aboutTitle {
        font-size: 3vh;
    }

    .aboutDescription {
        font-size: 1.5vh;
    }

    .myProfileImage {
        width: 70%;
    }

    .projectsText {
        font-size: 5vh;
    }
}


/* 439px */

@media screen and (max-width: 439px) {
    .blink {
        background: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-top: 90%;
    }
    
    .typing, .hello {
        font-size: 2vh;
    }

    .aboutTitle {
        font-size: 2vh;
    }

    .aboutDescription {
        font-size: 1.5vh;
    }

    .firstProjDes span {
        font-size: 1.5vh;
    }

    .firstProj a, .bi-github {
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 317px) {
    .firstProjDes span {
        font-size: 1.3vh;
    }
}